<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Fantasy</title>
  <link rel="stylesheet" type="style/css" href="css/fantasy.css">
 </head>
 <body>
   <h2> Fantasy Genre </h2>
   <h3>Below are samples of the first pages of various fantasy books. Please click on your favorite to learn more about that book</h3>
  <div style="text-align:center">
  
<img src="https://www.google.com/search?q=earth+images&espv=2&biw=1171&bih=600&site=webhp&source=lnms&tbm=isch&sa=X&ved=0CAYQ_AUoAWoVChMIh5H-tY6FxwIVxho-Ch1dfQA0#imgrc=3MeUMiwhFcVwEM%3A" alt="fivera" width="200" height="200">
     
 </body>
</html>