<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Book</title>
  <link rel="stylesheet" type="style/css" href="css/test.css">
  </head>
  
 <body>
   
   <h1>Book Finder</h1>
   <h3>The Ultimate Book Finder. Finding books for you since 2015. </h3>
   <h4>Choose a genre from the list, and enter the genre below!</h4>
   <br>
   
     <div class = "p">
       <p2>Fantasy</p2>
     <br>
     <br>
       <p3>Science Fiction</p3>
     <br>
     <br>
       <p4>Realistic Fiction</p4>
     <br>
     <br>
       <p5>Romance</p5>
      <br>
      <br>
       <p6>Historical fiction</p6>
     </div>
     
      
   <br>
   <br>
   

   <div class ="enter"> 
<div class="my-container">
 
</div>
</div>
   
  
   
<!--    <div class = "submit-button">
   <a href="#" class="button">Enter</a>
   </div>
 -->
  
  
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>


<div class="genre-container">
 
  <form method = 'POST' action ='/results'>
   
     
      <input type="genre"  name="genre" placeholder="Enter genre">
    <div class ="button">
       <input type = 'submit'>
    </div>
  
    
  </form>
</div>


   
  
   
   
   
   
   
   
   
 </body>
</html>