
<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
    <link rel="stylesheet" type="style/css" href="css/fantasy.css">
  <title>Realistic Fiction</title>
 </head>
 <body>
   <h2> Realistic Fiction </h2>
   <h3> Below are samples of the first pages of various realistic fiction books. Please click on your favorite to learn more about that book </h3>
<!--    We Were Liars -->
   <a href = "" > <img src = "http://www.sup.org/books/pages/11857/Introduction_pages/page-1.png" ></a> 
<!--    My Heart and Other Black Holes -->
   <a href = "" > <img src = "http://www.sup.org/books/pages/11857/Introduction_pages/page-1.png" ></a>
<!--    Thirteen Reasons Why -->
   <a href = "" > <img src = "http://www.sup.org/books/pages/11857/Introduction_pages/page-1.png" ></a>
 </body>
</html>