h1 { color: #111; 
    font-family: 'Helvetica Neue', sans-serif; 
    font-size: 180px; 
    font-weight: bold;
    letter-spacing: -1px; 
    line-height: 0.5; 
    text-align: center;
  z-index: 1;
  position: relative;
}


h3 { color: black ; 
  font-family: 'Open Sans', sans-serif; 
  font-size: 30px; 
  font-weight: 300; 
  line-height: 250px;
  margin: 0 0 72px; 
  text-align: center;
  z-index:1;
  position: relative;
  top: -73px;
}

h4{
  font-family: Candara, Calibri, Segoe, 'Segoe UI', Optima, Arial, sans-serif;
	font-size: 24px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: -30px;
  text-align: center;
    z-index:1;
  position: relative;
    top: -200px;
}

.p {  
/*   font-family: 'Josefin Slab', serif; */
  font-family:'Open Sans', sans-serif;
  font-size: 20px; 
    text-align: center;
    z-index:1;
  position: relative;
  top: -205px;
} 
  
  .genre-container{
     z-index:1;
  position: relative;
   left:625px;
   top: -220px;
    border: 5px solid white; 
    -webkit-box-shadow: 
      inset 0 0 8px  rgba(0,0,0,0.1),
            0 0 16px rgba(0,0,0,0.1); 
    -moz-box-shadow: 
      inset 0 0 8px  rgba(0,0,0,0.1),
            0 0 16px rgba(0,0,0,0.1); 
    box-shadow: 
      inset 0 0 8px  rgba(0,0,0,0.1),
            0 0 16px rgba(0,0,0,0.1); 
    padding: 10px;
    background: rgba(255,255,255,0.5);
    margin: 0 0 20px 0;
   width: 135px;
 }

.my-container {
    position: relative;
    background: #5C97FF;
    overflow: hidden;
}

.my-container:before{
    content: ' ';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0.6;
    background-image: url('http://41.media.tumblr.com/tumblr_m2ym5iQbdj1r2jzkyo1_500.jpg');
/* /*    background-image: url(' http://40.media.tumblr.com/tumblr_m42e8ozjzk1qe49wpo1_500.jpg'); */
    background-repeat: no-repeat;
    background-position: 50% 0;
    -ms-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    background-size: cover;   
} 




 .button {
/*    border-top: 1px solid #000000; */
/*    background: #C0C0C0; */
/*    background: -webkit-gradient(linear, left top, left bottom, from(#d4b9d4), to(#750f55)); */
/*     background: -webkit-linear-gradient(top, #000000,#000000); */
/*    background: -moz-linear-gradient(top, #d4b9d4, #750f55);
   background: -ms-linear-gradient(top, #d4b9d4, #750f55);
   background: -o-linear-gradient(top, #d4b9d4, #750f55); */
/*    display: inline-block; */
  width: 200px;
  padding: 8px;
  color:#000000 ;
  border: 1px solid #fff;
  text-align: center;
  outline: none;
  text-decoration: none;

   font-size: 17px;
   text-decoration: none;
   vertical-align: middle; */
   }

.button:hover {
   border-top-color: #c7288a;
   background: #c7288a;
   color: #ccc;
   }

.button:active {
   border-top-color: #d6b4d6;
   background: #d6b4d6;
   }

.submit-button {
  padding-left:800px;
top: -185px;
   z-index:1;
  position: relative;
}

/*     background: transparent;
   padding: 8px 17px; 
   -webkit-border-radius: 33px;
   -moz-border-radius: 33px;
   border-radius: 33px;
   -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
   -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
   box-shadow: rgba(0,0,0,1) 0 1px 0;
   text-shadow: rgba(0,0,0,.4) 0 1px 0;
/*    color: #000000; */



/* 
.hey{
  text-align: center;
  
  
}
 */
/* /* /* /* body  
    background-image: url("http://36.media.tumblr.com/63f0d372c2d06d3c8ea360021cbda4df/tumblr_ne1v45p32b1sbqbf8o9_500.jpg");
    background-repeat:no-repeat;
  background-size: auto auto; */
/*   -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; */
}  */ */ */
      
    


/* p#cf7_controls {
  text-align:center;
}
#cf7_controls span {
  padding-right:2em;
  cursor:pointer;
}
#cf7 {
  position:relative;
  height:281px;
  width:450px;
  margin:0 auto 10px;
}
#cf7 img {
  position:absolute;
  left:0;
  -webkit-transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
  opacity:0;
  -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
}

#cf7 img.opaque {
  opacity:1;
  -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: alpha(opacity=1); */

/* p3 {  
  font-family: 'Helvetica Neue', sans-serif; 
  font-size: 14px; 
    text-align: center;
 }
p4 { 
  font-family: 'Helvetica Neue', sans-serif; 
  font-size: 14px; 
    text-align: center;
  }



 */